
.headerContainer { 
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.headerContainerStart {
    justify-content: flex-start;
}

.headerContainerCentered {
    justify-content: center;
    margin-top: 20px;
}



/* VARIANTS */
/* Plan Ready → destaque elegante, não exagerado */
.headerVariant__planReady {
  background-color: #ffffff;

  height: 100px;
  transition: all 0.2s ease-in-out;
}