.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0b0f14;
}

.text {
  margin-top: 20px;
  font-size: 22px;
  color: #02ff98;
  font-weight: 600;
}

.subtext {
  margin-top: 8px;
  font-size: 14px;
  color: #6be8c6;
}