.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: blue; */

    width: 100%;
    gap: 8px;
    margin-top: 30px;
}