 .container {
     display: flex;
     flex-direction: column;

 }

 .unidade {

     position: absolute;
     top: 225px;
     right: 150px;


     margin-top: 8px;
     font-size: 1rem;
     color: var(--cor-placeholder);
     opacity: 0;
 }

 /* Quando o input está focado e há texto digitado */
 .container:focus-within .unidade {
     color: var(--cor-secundaria);

 }

 .container:has(input:not(:placeholder-shown)) .unidade {
     opacity: 1;
     /* mostra o “kg” */
     color: var(--cor-secundaria);
 }