 /* src/index.css */

 :root {
     --cor-primaria: #00f2b0;
     --cor-fundo: #ffffff;
     --cinza-leve: #ccc;
     --cor-texto-principal: #000000;
     --cor-text-descricao: #666;
     --cor-texto-rodape: #8b8b8b;
     --sombra-suave: #0003;
    

 }

 body {
     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

     background-color: var(--cor-fundo);
      
 }


 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }