.preferencia-opcao {
  width: 100%;
  max-width: 250px;
  min-width: 180px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  text-align: left;
}

.preferencia-opcao.selected {
  border: 2px solid #00f2b0;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
  background: #fff;
  margin-right: 5px;
  flex-shrink: 0;
}

.checkbox-dot {
  display: block;
  width: 9px;
  height: 9px;
  background: #00f2b0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}