.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}





.title {
    font-size: 1.875rem;
    text-align: center;

    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--);
}