/* PaymentPopup.module.css */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    width: 420px;
    height: 800px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.iframe {
    width: 100%;
    flex: 1;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
    /* Firefox */

}


.iframe::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.closeBtn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: #ff0000;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}